<?xml version="1.0" encoding="GBK"?>
<!DOCTYPE beans PUBLIC "-//SPRING/DTD BEAN/EN" 
"http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="sessionHibernate" class="com.csai.db.HibernateUtil"
		factory-method="getSession"/>
    <bean id="login" class="com.csai.action.LoginAction" singleton="false">
    	<property name="sessionHibernate" ref="sessionHibernate"/>
    </bean>
    <bean id="regStatus" class="com.csai.action.RegStatusAction" singleton="false">
    	<property name="sessionHibernate" ref="sessionHibernate"/>
    </bean>
    <bean id="adminUser" class="com.csai.action.AdminUserAction" singleton="false">
    	<property name="sessionHibernate" ref="sessionHibernate"/>
    </bean>   
    <bean id="bedchamber" class="com.csai.action.BedchamberAction" singleton="false">
    	<property name="sessionHibernate" ref="sessionHibernate"/>
    </bean>    
    <bean id="classAction" class="com.csai.action.ClassAction" singleton="false">
    	<property name="sessionHibernate" ref="sessionHibernate"/>
    </bean>    
    <bean id="speciality" class="com.csai.action.SpecialityAction" singleton="false">
    	<property name="sessionHibernate" ref="sessionHibernate"/>
    </bean>
    <bean id="matri" class="com.csai.action.MatriAction" singleton="false">
    	<property name="sessionHibernate" ref="sessionHibernate"/>
    </bean>
    <bean id="classAdmin" class="com.csai.action.ClassAdminAction" singleton="false">
    	<property name="sessionHibernate" ref="sessionHibernate"/>
    </bean>
    <bean id="classView" class="com.csai.action.ClassViewAction" singleton="false">
    	<property name="sessionHibernate" ref="sessionHibernate"/>
    </bean>
    <bean id="acceptMoney" class="com.csai.action.AcceptMoneyAction" singleton="false">
    	<property name="sessionHibernate" ref="sessionHibernate"/>
    </bean>   
    <bean id="bed" class="com.csai.action.BedAction" singleton="false">
    	<property name="sessionHibernate" ref="sessionHibernate"/>
    </bean>   
</beans>
